#sidebarmenu_wrap{
	width:200px;
	float:left;
	overflow-y:auto;
	overflow-x:hidden;
}
#sidebarmenu{
	text-indent:20px;
	overflow:auto;
}

#ddblueblockmenu{

border-bottom-width: 0;
width: 200px;
}

#ddblueblockmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#ddblueblockmenu li a{
display: block;
padding: 3px 0;
text-indent:20px;
/*padding-left: 9px;*/
/*width: 176px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: white;
background-color: #2175bc;
border-bottom: 1px solid #90bade;
}


* html #ddblueblockmenu li a{ /*IE only */
width: 100%; /*IE 5*/

}

#ddblueblockmenu li a:hover {
background-color: #2586d7;
border-left-color: #1c64d1;
}

#ddblueblockmenu div.menutitle{
color: white;
border-bottom: 1px solid black;
padding: 2px 0;
text-indent:5px;
background-color: black;
font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}