@charset "utf-8";
/* CSS Document */

#loginWrapper{
	margin:0 auto;
	margin-top:150px;
}
#loginScreen{
	background-image:url(../images/login.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:288px;
	height:135px;
	text-align:left;
	padding-left:40px;
	padding-top:3px;
	padding-bottom:5px;
	border:1px solid #00AAD2;
}
#loginScreen input{
	width:125px;
}
#loginScreen table tr{
	line-height:25px;
}
.login-er-wrap{
	height:27px;
	margin-top:4px;
}
.l-input{
	width:130px !important;
	height:23px;
}
.l-input:hover{
	height:23px;
}