<?php $visitedStyle = "style=\"background-color:#6daee4;color:#000;\"";?>
<div id="sidebarmenu_wrap">
    <div id="ddblueblockmenu">
    
    <?php foreach($left_menu_system as $each_menu):
            $controller = explode("/", $each_menu['menu_url']);
            $controller = $controller[0];
    ?>
        <?php if ($each_menu['menu_url'] == ""):?>
            <div class="menutitle"><?php echo $each_menu['menu_text'];?></div>
        <?php else:?>
                <ul>
                    <li>
                        <a <?php echo Configuration::is_current_url($_SERVER['REQUEST_URI'], $each_menu['menu_url']) ? $visitedStyle : "";?>
                           href="<?php echo $site_config['base_url'].$each_menu['menu_url'];?>">
                           <?php //if (strstr($_SERVER['REQUEST_URI'], $controller.DS."show")){
                                    //echo str_replace("Manage", "View", $each_menu['menu_text']);
                                 //}elseif(strstr($_SERVER['REQUEST_URI'], $controller.DS."edit")){
                                    //echo str_replace("Manage", "Edit", $each_menu['menu_text']);							 	
                                 //}else{
                                    echo $each_menu['menu_text'];
                                 //}
                            ?></a>
                    </li>
                </ul>
        <?php endif;?>        	
    <?php endforeach;?>

    </div>
</div>